.chatlist {
    flex: 1;
    overflow: auto;

    /* Transparent scrollbar */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* For Firefox */
}

.chatlist .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.chatlist .search .searchbar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.chatlist .search .searchbar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
    padding: 10px;
}

.chatlist .search .searchbar img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.chatlist .search .add {
    width: 36px;
    height: 36px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chatlist .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 1px solid #dddddd52;
}

.chatlist .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatlist .item .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatlist .item .texts span {
    font-weight: 500;
}

.chatlist .item .texts p {
    font-size: 14px;
    font-weight: 300;
}


